<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design 1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link href='https://unpkg.com/css.gg@2.0.0/icons/css/instagram.css' rel='stylesheet'> -->
    <!-- <link href='https://unpkg.com/css.gg@2.0.0/icons/css/twitter.css' rel='stylesheet'> -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/rahul.css">

</head>


<body data-spy="scroll" data-target="#navbar" data-offset="50">
    <div class="light-effect"></div>
    <div class="cont">
        <div class="leftside column1">
            <div class="details">
                <h1>
                    <% if (locals.name) { %>
                    <%=name%> 
                    <% } else { %>
                     Manish Pandey
                    <% } %>
                </h1>

                <h2>
                    <% if (locals.present_exp) { %>
                        <%= present_exp %>
                        <% } else { %>
                        Lead Engineer at Microsoft
                        <% } %>
                    </h2>
                <p>I build pixel-perfect, engaging, and accessible digital
                    experiences.</p>
            </div>
            <!-- <nav>
                <a href="#About-me" class="active">About Me</a>
                <a href="#Work-experience">Work Experiences</a>
                <a href="#Projects">Projects</a>
            </nav> -->
            <nav id="navbar" class="navbar">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><i class="fa-solid fa-arrow-right icon1"></i><a class="nav-link active"
                            href="#About-me">About</a></li>
                    <li class="nav-item"><i class="fa-solid fa-arrow-right icon1"></i><a class="nav-link inactive"
                            href="#Work-experience">Experience</a></li>
                    <li class="nav-item"><i class="fa-solid fa-arrow-right icon1"></i><a class="nav-link inactive"
                            href="#Projects">Projects</a></li>
                </ul>

                <div class="sociallinks">
                    <a href="<% if (locals.links ) { %><%= locals.links.glink %><% } else { %> # <%}%>" target="_blank"> <i class="fa-brands fa-github icon"></i></a>
                    <a href="<% if (locals.links) { %><%= locals.links.xlink %><% } else { %> # <%}%>" target="_blank"> <i class="fa-brands fa-x-twitter icon"></i></a>
                    <a href="<% if (locals.links ) { %><%= locals.links.ilink %><% } else { %> # <%}%>" target="_blank"> <i class="fa-brands fa-instagram icon"></i></a>
                    <a href="<% if (locals.links ) { %><%= locals.links.llink %><% } else { %> # <%}%>" target="_blank"> <i class="fa-brands fa-linkedin icon"></i></a>
                </div>
                

            </nav>

        </div>
        <div class="rightside column2">
            <section id="About-me" class="about-me">
                <p class="starter">
                    <%if (locals.aboutme) { %>
                        <%=aboutme  %>
                        
                    <%}else {  %>
                    Back in 2012, I decided to try my hand at creating custom Tumblr themes and tumbled
                    head first into
                    the rabbit hole of coding and web development. Fast-forward to today, and I’ve had the privilege of
                    building software for an advertising agency, a start-up, a student-led design studio, and a huge
                    corporation. <br>
                My main focus these days is building products and leading projects for our clients at Upstatement. I
                    most enjoy building software in the sweet spot where design and engineering meet — things that look
                    good but are also built well under the hood. In my free time, I've also released an online video
                    course that covers everything you need to know to build a web app with the Spotify API.
                <br>When I’m not at the computer, I’m usually rock climbing, reading, hanging out with my wife and two
                    cats, or running around Hyrule searching for Korok seeds.</p> <%}%>
            </section>

            <section id="Work-experience" class="works-cont sections">

                
                <a href="">
                    <div class="work">
                        <div class="year">
                            <p>2024-present</p>
                        </div>
                        <div class="work-details">
                            <h2>Lead Engineer - Microsoft</h2>
                            <!-- <h4>Senior Engineer</h4> -->
                            <p>Build, style, and ship high-quality websites, design systems, mobile apps, and digital
                                experiences for a diverse array of projects for clients including Harvard Business
                                School,
                                Everytown for Gun Safety, Pratt Institute, Koala Health, Vanderbilt University, The 19th
                                News, and more. Provide leadership within engineering department through close
                                collaboration, knowledge shares, and spearheading the development of internal tools.</p>
                        </div>
                    </div>
                </a>

                <a href="">
                    <div class="work">
                        <div class="year">
                            <p>JUNE-DEC 2020</p>
                        </div>
                        <div class="work-details">
                            <h2>Software Engineer - Microsoft</h2>
                            <!-- <h4>Full stack developer</h4> -->
                            <p>Lead the development of cutting-edge websites, design systems, and mobile apps for a
                                diverse
                                clientele, including renowned institutions such as Harvard Business School, Everytown
                                for
                                Gun Safety, Pratt Institute, Koala Health, Vanderbilt University, The 19th News, and
                                others.
                                Drive innovation and excellence within the engineering department by fostering
                                collaboration, facilitating knowledge-sharing sessions, and championing the creation of
                                internal tools to streamline workflows and enhance productivity.</p>
                        </div>
                    </div>
                </a>

                <a href="">
                    <div class="work">
                        <div class="year">
                            <p>2018-2020</p>
                        </div>
                        <div class="work-details">
                            <h2>Software Engineer - Amazon</h2>
                            <!-- <h4>Backend developer</h4> -->
                            <p>Architect and craft high-quality digital experiences for a range of projects,
                                collaborating
                                with prestigious clients like Harvard Business School, Everytown for Gun Safety, Pratt
                                Institute, Koala Health, Vanderbilt University, The 19th News, and more. Take a
                                leadership
                                role in the engineering department, promoting a culture of collaboration and continuous
                                learning. Spearhead the development of internal tools to optimize processes and ensure
                                the
                                delivery of top-notch solutions for clients.</p>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="work">
                        <div class="year">
                            <p>APR 2017-DEC 2017</p>
                        </div>
                        <div class="work-details">
                            <h2>Assistant developer - Ubisoft</h2>
                            <!-- <h4>Assistant</h4> -->
                            <p>Create top-notch digital experiences for clients like Harvard Business School, Everytown
                                for
                                Gun Safety, Pratt Institute, Koala Health, Vanderbilt University, The 19th News, and
                                more.
                                Provide leadership in the engineering department by fostering collaboration, sharing
                                knowledge, and driving the development of internal tools..</p>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="work">
                        <div class="year">
                            <p>2016-DEC 2016</p>
                        </div>
                        <div class="work-details">
                            <h2>Junior developer - Ubisoft</h2>
                            <!-- <h4>Junior</h4> -->
                            <p>Architect innovative technology solutions across a variety of projects, working with
                                clients
                                such as global sustainability initiatives, emerging fintech disruptors, influential
                                cultural
                                institutions, leading biotech companies, and forward-thinking educational platforms.
                                Lead
                                the engineering team by promoting a collaborative culture, facilitating
                                knowledge-sharing,
                                and driving the creation of internal tools to optimize workflows and boost productivity.
                            </p>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="work">
                        <div class="year">
                            <p>2015-2016</p>
                        </div>
                        <div class="work-details">
                            <h2>Technical Support - Ubisoft</h2>
                            <!-- <h4>Junior</h4> -->
                            <p>Architect and deliver digital solutions for diverse projects with clients including
                                Harvard
                                Business School, Everytown for Gun Safety, Pratt Institute, Koala Health, Vanderbilt
                                University, The 19th News, and more. Play a leadership role in the engineering
                                department,
                                promoting collaboration and knowledge-sharing, and driving the development of internal
                                tools
                                to optimize workflows and deliver high-quality outcomes.
                            </p>
                        </div>
                    </div>
                </a>

            </section>
            <a class="resume-cont" href="google.com">
                <div class="resume">
                    <h2>Download Full Resume</h2>
                </div>
            </a>
            <div class="skills">
                <h1>Skills</h1>
                <ul>
                    <li>Effective communication.</li>
                    <li>Project management.</li>
                    <li>Problem-solving.</li>
                    <li>Foreign language proficiency.</li>
                </ul>
            </div>
            <section id="Projects" class="projects-container">
                <div class="project">
                    <div class="imagecont">
                        <img src="https://i0.wp.com/9to5mac.com/wp-content/uploads/sites/6/2018/06/apple-music-widgets.jpg?w=1500&quality=82&strip=all&ssl=1"
                            alt="">
                    </div>
                    <div class="procont">
                        <h2>Build a Spotify Connected App</h2>
                        <p>Video course that etaches how to build a web app with the Spotify Weeb API. Topics covered
                            include the principles of REST APIs, user auth flows, Node, Express, React, Styled
                            Components, and more.</p>
                    </div>
                </div>

                <div class="project">
                    <div class="imagecont">
                        <img src="https://i0.wp.com/9to5mac.com/wp-content/uploads/sites/6/2018/06/apple-music-widgets.jpg?w=1500&quality=82&strip=all&ssl=1"
                            alt="">

                    </div>
                    <div class="procont">
                        <h2>Build a Spotify Connected App</h2>
                        <p>Video course that etaches how to build a web app with the Spotify Weeb API. Topics covered
                            include the principles of REST APIs, user auth flows, Node, Express, React, Styled
                            Components, and more.</p>
                    </div>
                </div>

                <div class="project">
                    <div class="imagecont">
                        <img src="https://i0.wp.com/9to5mac.com/wp-content/uploads/sites/6/2018/06/apple-music-widgets.jpg?w=1500&quality=82&strip=all&ssl=1"
                            alt="">

                    </div>
                    <div class="procont">
                        <h2>Build a Spotify Connected App</h2>
                        <p>Video course that etaches how to build a web app with the Spotify Weeb API. Topics covered
                            include the principles of REST APIs, user auth flows, Node, Express, React, Styled
                            Components, and more.</p>
                    </div>
                </div>

                <div class="project">
                    <div class="imagecont">
                        <img src="https://i0.wp.com/9to5mac.com/wp-content/uploads/sites/6/2018/06/apple-music-widgets.jpg?w=1500&quality=82&strip=all&ssl=1"
                            alt="">

                    </div>
                    <div class="procont">
                        <h2>Build a Spotify Connected App</h2>
                        <p>Video course that etaches how to build a web app with the Spotify Weeb API. Topics covered
                            include the principles of REST APIs, user auth flows, Node, Express, React, Styled
                            Components, and more.</p>
                    </div>
                </div>

            </section>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a05fc18fff.js" crossorigin="anonymous"></script>
    <script src="js/rahul.js"></script>
</body>

</html>